<!DOCTYPE html>
<html lang="pt-br" ng-app="loja">

<head>
    <meta charset="utf-8">
    <title>AngularJS - Udemy</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">

    <script src="resources/angularjs.min.js"></script>
    <script src="resources/script/primeiroControler.js"></script>
    <script src="resources/script/formController.js"></script>
</head>

<body>
    <h1>AngularJS</h1>

    <form action="" ng-controller="primeiroController as user" id="form-user">

        <input type="text" ng-model="user.firstName">
        <br>
        <input type="text" ng-model="user.lastName">

        <div>
            Nome: {{user.firstName}}
            <br>
            Sobrenome: {{user.lastName}}
        </div>

        <br><br>

        <a href="#" ng-click="addContador();">add + 1</a>
        contador: {{contador}}


        <h1>Lista</h1>
        <ul>
            <li ng-repeat="pessoa in pessoas">{{pessoa}}</li>
        </ul>

    </form>
    <form action="" ng-controller="formController">

        <input type="text" name="name" ng-model="name">
        {{name}}
    </form>


</body>
</html>