<div ng-controller="basicController">

    <h1>Hello world!</h1>

    <form action="" name="thisForm">
        <input type="text" name="name" id="name" ng-model="name" required minlength="5">
        <div ng-messages="thisForm.name.$error">
            <div class="alert alert-danger" ng-message="required">Preencha o campo</div>
            <div class="alert alert-danger" ng-message="minlength">min length</div>
        </div>
    </form>

    <hr>

    <input type="text" ng-model="nameB">
    <br>
    nome: {{ nameB }}

    <style>
        .danger {
            color: #c4bf00
        }

        .error {
            color: red
        }

        .cool {
            color: green
        }
    </style>

    <div ng-class="{'danger': nameB.length < maxChar, 'error': nameB.length > maxChar, 'cool': nameB.length == maxChar}">
        <div ng-show="nameB.length < 5">
            até 5 char
        </div>
        <div ng-show="nameB.length == 5">
            Correto!
        </div>
        <div ng-show="nameB.length > 5">
            o máximo é 5
        </div>
    </div>

    <hr>

</div>