<div ng-controller="restController">

    <h2>Notes:</h2>

    <table>
        <tr ng-repeat="item in itens">
            <td>
                <strong>{{ item.title }}</strong>
                <br>
                <strong>Conteudo:</strong> {{ item.content }},
                <br>
                <small>
                    <strong>Criado em:</strong> {{ item.createdAt | date:"dd/MM/yyyy ' as ' H:mm" }}
                </small>
            </td>

            <td>
                <button ng-click="deleteItem(item._id, $index)">X</button>
            </td>
        </tr>
    </table>

    <br>
    <h4>add note:</h4>
    <label for="">
        <p>Titulo</p>
        <input type="text" ng-model="newItemTitle">
    </label>
    <label for="">
        <p>conteudo</p>
        <input type="text" ng-model="newItemContent">
    </label>

    <div class="" ng-click="addItem()">Salvar</div>

</div>